@media (max-width: 768px) {
    .c-fikloo {
        position: fixed;
        height: unset;
        max-height: 720px;
        width: unset;
        inset: 0px;
        border-radius: 0px;
        box-shadow: none;
    }
}
