.vfrc-widget.c-ivtLaR.c-ivtLaR-gAaWLG-withChat-true.t-ecMkwJ {
  height: 550px;
}

.vfrc-widget--chat.c-fikloo {
  height: 550px;
}

.c-iLVmPU {
  height: 550px;
}

.vfrc-chat.c-ealvbK.c-ealvbK-jVNirx-withPrompt-false {
  height: 550px;
}

.vfrc-chat--overlay.c-lajUCC {
  height: 550px;
}
