.vfrc-widget--chat c-fikloo {
    
    clientHeight: 550px;
    
}

vfrc-chat c-ealvbK c-ealvbK-jVNirx-withPrompt-false {
    
    clientHeight: 550px;
    
}

c-iLVmPU {
    
    clientHeight: 550px;
    
}
